.greetContent{
  font-family:"Roboto",'Nanum Gothic',
  sans-serif;
}

.img{
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
}
.a{
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 8px;
  font-weight: bold;
  font-family:'NanumSquareRound',
  sans-serif;
}
.b{
  text-align: center;
  font-weight: 600;
  font-family:'NanumSquareRound',
  sans-serif;
}

.greetText{
  font-size: 18px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: bolder;
  line-height: 30px;
}
.greetText h4{
  font-size: 20px;
}