

.hide{
  display: none;
}

.customBodyStatus {
  background: #ebf5fc;
  width: 100%;
  height: 400%;
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

.statusResultContainer {
  margin-top: 35px;
}
.statusResultContainer h5{
  margin-top: 8px;
}

.statusContainer {
  display: flex;
  flex-wrap: wrap;
}

.statusContainer .position {
  font-size: 22px;
  margin-top: 30px;
  font-family: 'NanumSquareRound', sans-serif;
  width: 100%;
  font-weight: bold;
}

.statusContainer .card {
  position: relative;
  width: 45%;
  height: 150px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .05),
    inset -5px -5px 5px rgba(255, 255, 255, .5),
    5px 5px 5px rgba(0, 0, 0, .05),
    -5px -5px 5px rgba(255, 255, 255, .5);
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 25px;
}

.statusContainer .card .box {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  border-radius: 15px;
  transition: 1s;
}

.statusContainer .card:hover .box {
  transform: translateY(-12px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
  border: 1px solid #b95ce4;
  background: linear-gradient(45deg, #b95ce4, #4f29cc);
}

.statusContainer .card .box .content {
  display: flex;
}

.statusContainer .card .box .content .idPhotoContainer {
  width: 30%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statusContainer .card .box .content .idTextContainer {
  height: 130px;
  width: 70%;
  padding-left: 10px;
  cursor: default;
}

.statusContainer .card .box .content .idTextContainer h6:first-child {
  margin-top: 10px;
}

.statusContainer .card .box .content .idTextContainer h6 {
  font-size: 14px;
  color: #222;
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: .2px;
  transition: .5s;
}

.statusContainer .card:hover .box .content .idTextContainer h6 {
  color: white;
}

.statusContainer .card .box .content .idPhotoContainer .idPhoto {
  width: 84px;
  height: 108px;
  background-color: #fff;
  border: .5px solid #777;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .status-container .card {
    position: relative;
    width: 100%;
  }

}