@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap');

.navbar {
  background-color: white;
  height: 70px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: solid 1px rgba(63, 63, 63, 0.384);
  font-family: 'IBM Plex Sans KR', sans-serif;
}
.navbar-logo{
  width: 25%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.nav-item{
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
}
.nav-item:hover{
  background-color: #ad95e4;
  ;
}
.arrowdropdown{
  margin-left: -3px;
}

.navbar-content {

  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-gap: 5px;
  list-style: none;
  text-align: center;
  padding-right: 15vw;
  width: 75%;
  justify-content: end;
  cursor: pointer;
}

.log-out{
  background-color: #642ce6;
  padding: 0px 10px;
  font-size: 15px;
  color: white;
  transition: .5s;
}
.log-out:hover{
  background-color: #4921a8;
}


@media screen and (max-width: 900px) {
  .navbar{
    font-size: 1rem
  }
}

@media screen and (max-width: 1300px) {
  .navbar-content{
    padding-right: 0;
  }
}