.body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25vh;
}

.body-container{
  width: 1100px;
  display: flex;
}

.content-container{
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  padding-left: 10px;
}

.menu-container{
  width: 100%;
}
.menu-container .menu-result{
  margin-top: 34px;
  font-family: 'Nanum Gothic',
  sans-serif;
  font-size: 22px;
  /* letter-spacing: 1px; */
  font-weight: bold;
  margin-left: 15px;
}
.menu-container .menu-border {
  margin-top: 7px;
  border: 1px solid rgb(110, 110, 110);
}

.content-container .content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
